= form_for(@profiles) do |f|
  .profile-screen
    .header-profile
      .profile-box
        .profile
          %section.profile-container
            %h2 プロフィール
          .profile-text
            .profile-text__box
              .profile-text__contents
                %label 自己紹介
                %span 任意
              = f.text_area :self_introduction, class: 'profile'
              .profile-text__contents
                %label 夢
                %span 任意
              = f.text_area :dream, class: 'profile'
              .profile-text__contents
                %label 目標
                %span 任意
              = f.text_area :terget, class: 'profile'
              .profile-text__contents
                %label 予定
                %span 任意
              = f.text_area :plan, class: 'profile'
              .profile-text__contents
                %label 好きな本
                %span 任意
              = f.text_area :favorite_book, class: 'profile'
              .profile-text__contents
                %label 趣味
                %span 任意
              = f.text_area :hobby, class: 'profile'
              .profile-text__contents
                %label 得意なこと
                %span 任意
              = f.text_area :forte, class: 'profile'
              .profile-text__contents
                %label 苦手なこと
                %span 任意
              = f.text_area :weak_point, class: 'profile'
              
        .footer-profile-box 
          .action
            = f.submit "登録する", class: 'btn'