.mypage-screen
  .header-mypage
    .mypage-box
      .mypage
        %section.mypage-container
          %h2 登録内容変更
        .mypage-text
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .mypage-text__box
            .mypage-text__contents
              %label ニックネーム
              %span 必須
            = f.text_field :nickname
            .mypage-text__contents
              %label 年齢
              %span 必須
            = f.number_field :age
            .mypage-text__contents
              %label Eメール
              %span 必須
            = f.email_field :email, autofocus: true, autocomplete: "email"
            .mypage-text__contents
              .form
              %label パスワード(6文字)
              %span 必須
              = f.password_field :password, autocomplete: "new-password"
            = f.submit "編集する", class: 'registration'
      .footer-box
        .footer-mypage-box 
        
        