.data-header-box
  .data-header-box__text
    %p マイページ
    .bookshelf-image
      =image_tag "bookshelf.jpg",size: '400x200',alt:"fmarket"
- if user_signed_in?
  .data-header-box2
    .data-header-box__text2
      %p ユーザーネーム
      .name-text
        = current_user.nickname
#data-box2.data-box2
  .bg
    .data-box2__inner.clearfix
      .data-box2__inner--left.data-box2__header
        .field
          %li.left-box__lists__list
            = link_to "登録内容変更", edit_user_registration_path
          %li.left-box__lists__list
            - if user_signed_in?
              = link_to "プロフィール登録", new_profile_path
          
      .data-box2__inner--right.user-form
        = render @books
    .paginate
      = paginate(@books)
                    
        
.data-footer
  .data-footer-box
  