.home-header-box
  .bg
    .header-box
      .header-box__text
        %h2 Read a book
        
      .header-box__text__list
        - if user_signed_in?
          %h2 ログインしています
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to "本を登録する", record_books_path
        - else
          %h2 ログインしていません
          = link_to "新規登録", new_user_registration_path
          = link_to "ログイン", new_user_session_path
      .books-image
        =image_tag "books.jpg",size: '400x200',alt:"fmarket"

- if user_signed_in?
  .header-box2
    .header-box__text2
      %p ログインしているユーザー
      .home-name-text
        = current_user.nickname
  #home-box2.home-box2
    .bg
      .home-box2__inner.clearfix
        .home-box2__inner--left.home-box2__header
          .field
            %li.left-box__lists__list
              = link_to "プロフィール", profiles_path
            %li.left-box__lists__list
              = link_to "本の検索", seach_books_path
            %li.left-box__lists__list
              %a{:href => "/information/#{current_user.id}"} マイページ
        .home-box2__inner--right.user-form
          = render @books
          
        
- else
  #home-box2.home-box2
    .bg
      .home-box2__inner.clearfix
        .home-box2__inner--left.home-box2__header
          .field
            %li.left-box__lists__list
              = link_to "本の検索", seach_books_path
        .home-box2__inner--right.user-form
          = render @books
  .home-footer
    .footer-box

- if user_signed_in?
  .home-footer
    .footer-box
      
      
          
